.navigation {
  z-index: 999;
  position: fixed;
  left: 0;
  top: 0;
  height: var(--height-menu);
  padding: var(--padding-main);
  background-color: var(--background-color-2);
  box-sizing: border-box;
  box-shadow: var(--box-shadow-nav);
}

.navigation__link {
  padding: 24px 20px;
  color: rgba(255, 255, 255, 0.7);
}

.active {
  background-color: var(--background-color-1);
  color: var(--secondary-color);
}
